{% extends 'base.html.twig' %}

{% block title %}AdvVoyage index{% endblock %}

{% block body %}


    <h1>Liste des voyages réservés</h1>

   <table class="table-auto border-x border-b w-full">
    <thead>
        <tr>
            <th class="border px-4 py-2">Id</th>
            <th class="border px-4 py-2">Durée</th>
            <th class="border px-4 py-2">Date_départ</th>
            <th class="border px-4 py-2">Date_fin</th>
            <th class="border px-4 py-2">Url_image</th>
            <th class="border px-4 py-2">Résumé</th>
            <th class="border px-4 py-2">Nombre_pers_min</th>
            <th class="border px-4 py-2">Nombre_pers_max</th>
            <th class="border px-4 py-2">Prix</th>
            <th class="border px-4 py-2">actions</th>
        </thead>
        <tbody>
        {% for adv_voyage in adv_voyages %}
            <tr>
                <td>{{ adv_voyage.id }}</td>
                <td class="example-wrapper">{{ adv_voyage.Durée }}</td>
                <td>{{ adv_voyage.DateDépart ? adv_voyage.DateDépart|date('d-m-Y') : '' }}</td>
                <td>{{ adv_voyage.DateFin ? adv_voyage.DateFin|date('d-m-Y') : '' }}</td>
                <td>{{ adv_voyage.UrlImage }}</td>
                <td>{{ adv_voyage.Résumé }}</td>
                <td>{{ adv_voyage.NombrePersMin }}</td>
                <td>{{ adv_voyage.NombrePersMax }}</td>
                <td>{{ adv_voyage.Prix }}</td>
                <td>
                    <a href="{{ path('app_adv_voyage_show', {'id': adv_voyage.id}) }}">show</a>
                    <a href="{{ path('app_adv_voyage_edit', {'id': adv_voyage.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_adv_voyage_new') }}">Create new</a>
{% endblock %}
